:root {
    --backg: #03051c;
    --white: #fff;
    --celeste: #34afbe;
    --text: #061f1c;
    --gray: #d1ceca;
    --title: 4.8rem;
    --subtitle: 3.8rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    width: 120rem;
    margin: 0 auto;
    font-size: 16px; /* 1 rem =  10px */
    font-family: 'Montserrat', sans-serif;
    background: var(--backg);
    color: var(--white);
  }

  body::-webkit-scrollbar{
    width: 0.3rem;
    background-color: var(--primary);
 }

  body::-webkit-scrollbar-thumb{
    background-color: var(--celeste);
    border-radius: 1rem;
  }

  h1 {
    font-size: 8rem;
    margin: 0;
    color: var(--celeste);
    margin-top: 2.6rem;
  }

  h2 {
    font-size: var(--subtitle);
    color: var(--celeste);
  }

  h3 {
    font-size: 2.6rem;
    font-weight: 700;
    
  }

  span {
    width: 18%;
    padding-bottom: 1rem;
    font-size: 3.9rem;
    border-bottom: 0.6rem solid var(--white);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  a {
    text-decoration: none;
  }

  header {
    padding: 4.5rem 0;
  }

  header a {
    display: flex;
    color: var(--white);
  }

  .center {
    text-align: center;
  }

  .main-nav {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    gap: 6.0rem;
  }

  .main-nav a:hover {
    color: var(--celeste);
  }

  /*Sección Presentación Escritorio*/

  .hero-image {
    background-image: url(./resourcesMedia/Logos-\ Imágenes/kevinfigueroa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 68.5rem;
    margin-bottom: 27rem;
    position: relative;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.presentation {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 9rem;
  bottom: 1rem;
  gap: 1.8rem;
}

.experience-years {
  font-size: 2.4rem;
  font-weight: 700;
}

.three {
  font-size: 2.4rem;
  color: var(--celeste);
  border: none;
}

.social-container {
  display: flex;
  gap: 3.6rem;
}

.size-icon {
  width: 2.3rem;
  height: 2.3rem;
}

.icons {
  background: var(--gray);
  border-radius: 100%;
  padding: 1.8rem;
}

.jobs-container{
  width: 100%;
  background-color: #242635;
  padding: 4% 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 21rem;
  border-radius: 1rem;
}

.jobs-back {
  background-color: var(--gray);
    padding: 1% 8%;
    border-radius: 0.9rem;  
}

.size-icon-jobs {
  width: 100%;
  height: 100%;
}

.about-me {
  font-size: 1.8rem;
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
  line-height: 3rem;
}

.services-cards {
  display: flex;
  justify-items: center;
  justify-content: space-around;

}

.services-logo {
  width: 35%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../vector/Ellipse\ 14.svg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--white);
  height: 40rem;
  width: 30rem;
  border-radius: 0.5rem;
  text-align: center;
}

.card p {
  color: var(--backg);
}

.card h3 {
  font-weight: 700;
  color: var(--backg);
}

.green {
  font-size: 1.4rem;
  text-decoration: none;
  border: 0;
}

.habilities-margin {
  margin: 9rem 0 6rem;
}

#skills{
  width: 100%;
  padding: 0 15%;
}

#skills label{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#skills progress{
  height: 2rem;
  width: 100%;
  margin: 1rem 0 2.4rem 0;
  border-radius: .8rem;
}

progress::-webkit-progress-bar{
  background: #D1CECA;
  border-radius: .8rem;
}
progress::-webkit-progress-value{
  background-color: var(--celeste);
  border-radius: .8rem;
  background-color: var(--celeste);
}

.portafolio-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-left: 5%;
    overflow-x: auto;
}

#contact {
  margin: 12rem 0;
}

.icon-contact{
  width: 40%;

}

.contact-container{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.type-contact{
  background-image: url(../vector/Ellipse\ 14.svg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--white);
  height: 25rem;
  width: 25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.text-dark-blue {
  color: var(--backg);
  margin: 0;
}

.text-gris {
  color: #a9a9a9;
}

footer {
  margin: 6rem;
}

@media (max-width: 72rem) {
  :root{
    --title: 3.8rem;
    --subtitle: 2.8rem;
  }

  body {
    width: 100%;
  }

  #skills{
    width: 100%;
  }



  h1 {
    margin-top: 6rem;
    font-size: 4.2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .soy {
    width: 50%;
    margin: -6rem;
  }

  .main-nav{
    display: none;
  }

  .experience-years {
    margin: 0;
    font-size: 1.8rem;
  }

  .three {
    font-size: 1.8rem;
  }

  .hero-container{
    align-items: center;
    margin-top: 40rem;
  }

  .hero-image {
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: -12rem;
    height: 28.5rem;
  }

  .about-me-title {
    margin: 28rem 0 0 0;
  }

  .about-me {
    margin: 3rem 0 0;
    line-height: 3rem;
  }

  .jobs-container{
    width: 90%;
    display: flex;
    margin-top: -1rem;
    margin: 0 auto;
    gap: 1rem;
  }

  .social-container{
    width: 100%;
    justify-content: center;
    margin: 3rem auto;
  }

  .contact-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .services-cards{
    width: 100%;
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    overflow-x: auto;
  }

  .services-cards::-webkit-scrollbar-thumb{
    background-color: var(--celeste);
    border-radius: 1rem;
  }

  .services-cards::-webkit-scrollbar{
    height: 0.6rem;
    background-color: var(--primary);
  }

  .portafolio-images{
    width: 100%;
    margin: 0 auto;
  }

  .portafolio-images::-webkit-scrollbar-thumb{
    background-color: var(--celeste);
    border-radius: 1rem;
  }

  .portafolio-images::-webkit-scrollbar{
    height: 0.6rem;
    background-color: var(--primary);
  }
}
